.scroll-pane {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: white;
    -fx-border-color: #cccccc;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 6;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #b3d9ff;
    -fx-background-radius: 4;
}

.scroll-bar .decrement-arrow {
    -fx-padding:2.25;
}
.scroll-bar .increment-arrow {
    -fx-padding:2.25;
}

.scroll-pane > .corner {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
}